@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #0d0d0d;
    --foreground: #00ff88;
    --mygray: #e5e7eb;
    --magenta: #ff1e99;
    --transition-speed: 0.4s;
  }

  .light {
    --background: rgb(156, 209, 161); /*light slate / soft grayish white */
    --foreground: #1c1c1e; /* rich charcoal for text */
    --mygray: #7b7b8b; /* balanced, readable secondary gray */
    --magenta: #c21871; /* softened neon magenta */
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-fira-sans);
  --font-code: var(--font-fira-code);
  --color-magenta: var(--magenta);
  --color-mygray: var(--mygray);
}

@layer utilities {
  .hide-scrollbar {
    /* Firefox */
    scrollbar-width: none;
    /* IE & Edge */
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-size: 1rem;

  line-height: 1.7;
  letter-spacing: 0.03em;
}

html {
  /* Firefox */
  scrollbar-width: none;
  /* IE & Edge */
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

/* Chrome, Safari, Opera */
html::-webkit-scrollbar {
  display: none;
}
h1,
h2,
h3 {
  color: var(--foreground);
  font-weight: 600;
}

.blinking-cursor {
  animation: blink 1s step-start infinite;
}
.light,
.dark {
  transition: background-color var(--transition-speed) ease,
    color var(--transition-speed) ease;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
