@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1b1f3a;
  --darkb: #0f111e;
  --apo: #53354a;
  --apo1: #a64942;
  --apo2: #ff7844;
}

body {
  color: var(--apo1);
  background: var(--background);
  font-family: Nunito, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat, sans-serif;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
