@import "tailwindcss";

:root {
  --background: #0d0d0d;
  --foreground: #00ff88;
  --mygray: #e5e7eb;
  --magenta: #ff1e99;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-fira-sans);
  --font-code: var(--font-fira-code);
  --color-magenta: var(--magenta);
  --color-mygray: var(--mygray);
}

body {
  font-size: 1rem;
  background: var(--background);
  color: var(--foreground);
  line-height: 1.7;
  letter-spacing: 0.03em;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--foreground); /* Acid Green baby */
}

.blinking-cursor {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
